.Board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px; /* adds spacing */
  margin-bottom: 30px;
  background-color: rgba(255, 236, 210, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.controls {
  margin-top: 20px;
}  

.controls button {
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: rgba(215, 148, 55, 0.5);
  color: black;
  transition: background-color 0.2s ease, transform 0.1s ease;
  margin: 0 10px;
}

.controls button:hover {
  background-color: rgba(223, 144, 33, 0.5);
  transform: translateY(-2px);
}


.status{
    margin-bottom: 20px;
}

.status h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  /* color: #007bff; */     
  text-align: center;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  /* min-height: 100vh; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.start-player{
    margin-bottom: 20px;
    /* display: flex; */
    gap: 10px;
    align-items: center;
}

.start-player {
  margin-bottom: 20px;
  /* display: flex; */
  /* justify-content: center; */
  gap: 15px;
  align-items: center;
}

.start-player button {
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: rgba(215, 148, 55, 0.5);
  transition: all 0.2s ease;
  gap: 10px;
  margin: 0 5px;
}

.start-player button:hover {
  background-color: rgba(247, 193, 117, 0.5);
}


.player-name{
  font-size: 18px;
  font-weight: bold;
}

.player-name.x {
  color: #ff5733; /* Color for Player X */
}

.player-name.o {
  color: #33c3ff; /* Color for Player O */
}

.player-name input{
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* width: 120px; */
  margin: 0 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

.player-name input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: rgba(255, 255, 255, 1);
}

.series-selector{
  margin-bottom: 20px;
}

.series-selector select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: all 0.2s ease;
  width: 150px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
