/* Reset some defaults */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333; /* default text color */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background + centering */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
}

/* Make sure React root takes full space */
#root {
  width: 100%;
  gap: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
